coverage==7.6.1           # via pytest-cov
exceptiongroup==1.2.2     # via pytest
iniconfig==2.0.0          # via pytest
packaging==24.1           # via -c requirements/requirements-dev.txt, pytest
pluggy==1.5.0             # via pytest
pytest==8.3.2             # via -r requirements/requirements-test.in, pytest-cov
pytest-cov==5.0.0         # via -r requirements/requirements-test.in
tomli==2.0.1              # via -c requirements/requirements-dev.txt, coverage, pytest
